/* RACHEL'S CUSTOM OBSIDIAN CSS */
/* See https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */

.align-right {
    display: block;
    text-align: right;
}

.align-right-b {
    display: block;
    font-weight: 700;
    text-align: right;
}

.custom-button {
    /*background-color: pink !important;*/
}

.margin-y-plus {
    margin-top: -5px;
}

.button-align-top-right {
    float: right;
    clear: right;
    margin-top: 1rem;
    margin-left: 1rem;
    /*background-color: pink !important;*/
}

.button-align-top-right:hover {
    /*background-color: pink !important;*/
}

/* Buttons Plugin styling */

.dataview-button {
    border-style: solid;
    border-width: thin;
    border-color: rgb(149, 213, 234);
    color: rgb(149, 213, 234);
    font-weight: bold;
    background-color: transparent;
    padding: 5px 15px;
    font-size: 11px;
}

/* Dataview table row coloring and highlighting */

tbody tr:hover {
    border-color: rgb(149, 213, 234);
    border-width: 2px;
    border-style: solid;
}

tr:nth-child(even) { background-color: rgba(136, 192, 208, 0.1);}

/* HEADINGS */

.cm-header-1, .markdown-preview-section h1 {
    color: rgb(237, 126, 163) !important;
}

.markdown-preview-view h1 {
    color: rgb(237, 126, 163) !important;
    font-weight: 500;
}

h1 {
    color: rgb(237, 126, 163) !important;
    font-weight: 500;
    font-size: 36px;
}

.cm-header-2, .markdown-preview-section h2 {
    color: rgb(149, 213, 234) !important;
}

.cm-header-6, .markdown-preview-section h6 {
    font-size: 16px !important;
    color: rgb(251, 186, 121) !important;
}


/* LISTS BULLET COLORS */

::marker {
    /*color: var(--purple);*/
    /*color: rgb(184, 148, 255);*/
}

/* Tags */

.tag {
  /*background-color: var(--text-accent);*/
  /*background-color: var(--accent-h);*/
  border: none;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0;
  cursor: pointer;
  border-radius: 14px;
}

.tag:hover {
    /*color: white;*/
    /*background-color: #ffffff;*/
}
